<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
</head>
<body>
	<h1>{{ title }}</h1>
	<p>Bonjour</p>
	<div id="app"></div>


	<script src="/socket.io/socket.io.min.js"></script>
	<script>
		// Initialise la connexion au serveur Socket.IO
		const socket = io()

		// Une fois connecté, l'evenement "connect" est déclenché
		socket.on('connect', () => {
			console.log('connected !')

			// Envoi de l'event "event-name" au serveur
			socket.emit('event-name', { ladata: 'bonjour' })
		})


	</script>
</body>
</html>
